// Specific CSS for your home-page
.home-background {
  background-color: white;
  width: 100%;
  z-index: 4;
  top: -100px;
  position: relative;
}

.home-tr {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 84px;
  color: rgba(0, 0, 0, 0.7);
  padding: 20px 0px 0;
}

.home-tr-sub {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 35px;
  letter-spacing: 0.15em;
  color: rgba(0, 0, 0, 0.5);
  padding: 10px 0px 40px;
}

.top-rated-carousel {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90vw;
  padding: 40px 0;
  margin: 0 auto;
}
