<div class="container">
  <h1 class="text-center">Welcome to your Dashboard</h1>
  <div class="content d-flex">
    <div class="dashboard-bookings w-50">
      <h4 class="text-center">Your bookings</h4>
      <% if @bookings.count > 0 %>
        <% @bookings.each do |booking| %>
          <p>Your booking</p>
        <% end %>
      <% else %>
        <p>It looks like you don't have any bookings yet, what are you waiting for?</p>
      <% end %>
    </div>
    <div class="dashboard-yachts w-50">
      <h4 class="text-center">Your Yachts</h4>
      <div class="yachts d-flex flex-wrap">
        <% @yachts.each do |yacht| %>
          <%= link_to yacht.title, yacht_path(yacht) %>
          <%#= render 'shared/yacht_card', yacht: yacht %>
          <%= link_to 'Delete', yacht_path(yacht), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
      <p class="text-center">
        <%= link_to 'Add a New Yacht', new_yacht_path, class: 'btn create-btn' %>
      </p>
    </div>
  </div>
</div>
