index.html.erb
<h1>Choose your bespoke yachting experience...</h1>

<h2>SEARCH BAR HERE</h2>

<ul class="list-group">
    <% @yachts.each do |yacht| %>
        <li class="list-group-item"><%= link_to yacht.title, yacht_path(yacht) %></li>
        <%= link_to "Enquire", yacht_path(yacht) %>
        <% end %>
</ul>

