.social {
  text-decoration: none;
  color: $theme-grey;
  font-size: 32px
}

.made-by {
  color: $theme-grey;
  font-size: 12px;
  opacity: 70%;
}

.nav-link {
  text-decoration: none;
  color: $theme-grey;
}

.footer {
  background-color: $theme-blue;
  color: $theme-grey;
  height: 60px;
}
