.navbar-lewagon {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  justify-content: space-between;
  background: white;
  z-index: 10000;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
